* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

body {
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161623;
}

.preloading {
    overflow: hidden;
}

.loader-container {
    width: 100%;
    min-height: 100vh;
    background-color: #161623;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

// .loader {
//     width: 80px;
//     height: 80px;
//     border: 6px solid;
//     color: #3498db;
//     border-radius: 50%;
//     border-top-color: transparent;
//     border-bottom-color: transparent;
//     animation: loader 1.2s linear;
// }

@keyframes ldio-lxmyzumg8ar {
    0% { transform: translate(12px,80px) scale(0); }
    25% { transform: translate(12px,80px) scale(0); }
    50% { transform: translate(12px,80px) scale(1); }
    75% { transform: translate(80px,80px) scale(1); }
    100% { transform: translate(148px,80px) scale(1); }
}
@keyframes ldio-lxmyzumg8ar-r {
    0% { transform: translate(148px,80px) scale(1); }
    100% { transform: translate(148px,80px) scale(0); }
}
@keyframes ldio-lxmyzumg8ar-c {
    0% { background: #72DDF7 }
    25% { background: #F7AEF8 }
    50% { background: #B388EB }
    75% { background: #8093F1}
    100% { background: #72DDF7 }
}
.ldio-lxmyzumg8ar div {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(80px,80px) scale(1);
    background: #72DDF7;
    animation: ldio-lxmyzumg8ar 1s infinite cubic-bezier(0,0.5,0.5,1);
}
.ldio-lxmyzumg8ar div:nth-child(1) {
    background: #8093F1;
    transform: translate(148px,80px) scale(1);
    animation: ldio-lxmyzumg8ar-r 0.25s infinite cubic-bezier(0,0.5,0.5,1), ldio-lxmyzumg8ar-c 1s infinite step-start;

}.ldio-lxmyzumg8ar div:nth-child(2) {
    animation-delay: -0.25s;
    background: #72DDF7;

}.ldio-lxmyzumg8ar div:nth-child(3) {
    animation-delay: -0.5s;
    background: #8093F1;

}.ldio-lxmyzumg8ar div:nth-child(4) {
    animation-delay: -0.75s;
    background: #B388EB;

}.ldio-lxmyzumg8ar div:nth-child(5) {
    animation-delay: -1s;
    background: #F7AEF8;
}
.loadingio-spinner-ellipsis-gj3qwcimon8 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
}
.ldio-lxmyzumg8ar {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.ldio-lxmyzumg8ar div { box-sizing: content-box; }

// @keyframes loader {
//     25% {color: #2ecc71;}
//     50% {color: #f1c40f;}
//     75% {color: #e74c3c;}
//     to {
//         transform: rotate(360deg);
//     }
// }

@media screen and (max-width: 768px) {
    .profile-container {
        width: 330px !important;
        padding: 100px 35px 40px !important;
    }
    .shape::before,
    .shape::after {
        display: block !important;
    }
    body::before,
    body::after {
        display: none;
    }
}

body::before {
    content: '';
    position: absolute;
    width: 360px;
    height: 360px;
    background: linear-gradient(#ffc107, #e91e63);
    box-shadow: rgba(233, 30, 99, 0.25) 0px 50px 100px -20px, rgba(255, 193, 7, 0.3) 0px 30px 60px -30px;
    border-radius: 50%;
    transform: translate(-246px, -210px);
}

body::after {
    content: '';
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(#2196f3, #31ff38);
    box-shadow: rgba(49, 255, 56, 0.25) 0px 50px 100px -20px, rgba(33, 150, 243, 0.3) 0px 30px 60px -30px;
    border-radius: 50%;
    transform: translate(210px, 202px);
}

.shape::before {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#ff5858, #f857a6);
    clip-path: circle(30% at right 70%);
}

.shape::after {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(28% at 10% 10%);
}

.profile-container {
    z-index: 100;
    position: relative;
    max-width: 400px;
    padding: 100px 70px 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(25px);
}

.img-container {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border: 4px solid #f5fdff;
    border-radius: 50%;
    box-shadow: 0 9px 55px rgba(231, 251, 255, 0.6);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container img {
    width: 100%;
    max-width: 100%;
    transform: scale(1.1);
}

.info {
    text-align: center;
    margin-bottom: 12px;
}

.info i {
    margin-right: 8px;
    font-size: 1.1em;
}

.place {
    margin-bottom: 40px;
}

.location {
    margin-bottom: 12px;
}

.full-name {
    color: #fff;
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 1px;
}

.social-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:15px;
}

.social-container i {
    color: #fff;
}

.social-container button {
    border: none;
    background-color: red;
    outline: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0px 5px 25px rgba(0, 0, 0 ,0.15);
    transition: transform 0.3s;
}

.social-container button:hover {
    transform: scale(1.1);
}

.social-container button.youtube {
    background: linear-gradient(45deg, #FF416C, #ff6122);
    box-shadow: rgba(255, 65, 108, 0.25) 0px 13px 27px -5px, rgba(255, 97, 34, 0.3) 0px 8px 16px -8px;
}

.social-container button.facebook {
    background: linear-gradient(45deg, #0072ff, #36D1DC);
    box-shadow: rgba(0, 114, 255, 0.25) 0px 13px 27px -5px, rgba(54, 209, 220, 0.3) 0px 8px 16px -8px;
}

.social-container button.discord {
    background: linear-gradient(45deg, #6A82FB, #FC5C7D);
    box-shadow: rgba(106, 130, 251, 0.25) 0px 13px 27px -5px, rgba(252, 92, 125, 0.3) 0px 8px 16px -8px;
}

.social-container button.danchoi {
    background: linear-gradient(45deg, #F37335, #FFC371);
    box-shadow: rgba(243, 115, 53, 0.25) 0px 13px 27px -5px, rgba(255, 195, 113, 0.3) 0px 8px 16px -8px;
}

.action {
    outline: none;
    cursor: pointer;
    color: #fff;
    // background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 50px;
    padding: 12px 20px;
    width: 80%;
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: transform 0.3s, opacity 0.3s;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.5);
    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.action:hover {
    transform: scale(1.05);
    // opacity: 0.8;
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

$color-particle: #fff;
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 600s;

@function particles($max) {
    $val: 0px 0px $color-particle;
    @for $i from 1 through $max {
        $val: #{$val},
        random($spacing)+px random($spacing)+px $color-particle;
    }
    @return $val;
}

@mixin particles($max) {
    box-shadow: particles($max);
}

.animation-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.particle,
.particle:after {
    background: transparent;
}

.particle:after {
    position: absolute;
    content: "";
    top: $spacing;
}

.particle-1 {
    animation: animParticle $time-1 linear infinite;
    @include particles(600);
    height: 1px;
    width: 1px;
}

.particle-1:after {
    @include particles(600);
    height: 1px;
    width: 1px;
}

.particle-2 {
    animation: animParticle $time-2 linear infinite;
    @include particles(200);
    height: 2px;
    width: 2px;
}

.particle-2:after {
    @include particles(200);
    height: 2px;
    width: 2px;
}

.particle-3 {
    animation: animParticle $time-3 linear infinite;
    @include particles(100);
    height: 3px;
    width: 3px;
}

.particle-3:after {
    @include particles(100);
    height: 3px;
    width: 3px;
}

.particle-4 {
    animation: animParticle $time-4 linear infinite;
    @include particles(400);
    height: 1px;
    width: 1px;
}

.particle-4:after {
    @include particles(400);
    height: 1px;
    width: 1px;
}

@keyframes animParticle {
    from { transform: translateY(0px); }
    to { transform: translateY($spacing * -1); }
}